.speech-editor-container {
  height: 100%;
}

.speech-form-container{
  height: 95%;
  margin-top: 23px;
}

.speech-editor-header {
  margin: 0 !important;
}

.custom-inline-group {
  display: flex;
}

.custom-inline-group .input-group {
  width: 100%;
}

.custom-inline-group-item {
  flex: 50%;
}

.pad-left {
  padding-left: 10px;
}

.pad-right {
  padding-right: 10px;
}

.speech-content {
  height: 45%;
}

.speech-content > textarea {
  height: 100%;
  resize: none;
}

.form-actions {
  display: flex;
}

.form-action-btns {
  margin-right: 10px;
}

.form-actions > alert {
  flex: 2;
}

:host ::ng-deep .btn-default {
  color: #fff;
  background-color: rgba(12, 13, 13, 0.5);
  border: 0;
}

:host ::ng-deep .ui-select-search {
  border: 0 !important;
}

:host ::ng-deep .ui-select-search:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 991px) {
  .speech-editor-container {
    padding-top: 20px;
  }
}
