<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Speech Storage Application
        <button class="btn btn-success pull-right" (click)="newSpeechForm()">
          <span class="glyphicon glyphicon-plus"></span>
          New
        </button>
      </h1>
    </div>
  </div>

  <hr>

  <div class="row content">
    <div class="col-md-4">
      <app-speech-list #speechList
        (onSelected)="onSpeechSelected($event)"
        (onDeleted)="onSpeechDeleted($event)">
      </app-speech-list>
    </div>

    <div class="col-md-8">
      <app-speech-editor [speech]="speech"></app-speech-editor>
    </div>
  </div>
</div>
