/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke !important;
}

ul {
  height: 85%;
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 991px) {
  ul {
    height: 85%;
    overflow: hidden;
    overflow-y: auto;
  }
}

@media screen and (max-width: 760px) {
  html, body {
    height: auto;
  }

  body {
    background-color: #fff !important;
  }

  ul {
    height: 23vh;
    overflow: hidden;
    overflow-y: auto;
  }
}
