.speech-list-container {
  height: 100%;
  padding-right: 30px;
  border: 0;
}

:host ::ng-deep .nav {
  height: 70%;
  overflow: hidden;
  overflow-y: auto;
}

:host ::ng-deep .nav > li > a:focus,
:host ::ng-deep .nav > li > a:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

:host ::ng-deep .nav-pills > li.active > a,
:host ::ng-deep .nav-pills > li.active > a:focus,
:host ::ng-deep .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: rgba(12, 13, 13, 0.5);
}

:host ::ng-deep .nav-link {
  color: #000;
}

.hover:hover {
  color: red !important;
}

@media screen and (max-width: 767px) {
  .speech-list-container {
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(12, 13, 13, 0.5);
  }

  :host ::ng-deep .nav {
    height: 50vh;
    overflow: hidden;
    overflow-y: auto;
  }
}
